body{
    width: 400px;
    padding: 30px;
}

.container{
    background-color: aquamarine;
    margin: 30px;
    padding: 30px;
    border: 1px solid black;
    width: 250px;
}

.cajitas{
    width: 180px;

}

